a{
       font: 400 16px/22px Roboto, "Helvetica Neue", sans-serif;
    text-decoration: underline;
    margin-bottom: 10px;
    display: block;
}
a:hover{
    color:gray;
}
.title
    {
        font-size: 20px;
        margin-top: 20px;
    
}
.icon{

}