<h1 class="h1-form" style="max-width: 300px;"> קישורים מהווי הגן</h1>

<div  class="row" style="margin-top:30px">
  <mat-icon class="add-icon col-1" (click)="openDialog();" *ngIf="isManager || isTeacher">add_circle_outline</mat-icon>
  <div class="col-9" *ngIf="isManager">
      <mat-form-field appearance="fill">
          <mat-label>בחר כיתה </mat-label>
          <mat-select [(ngModel)]="classId" (selectionChange)="selectClass($event.value)">
              <mat-option [value]="c.classId" *ngFor="let c of classes"> {{c.className}}</mat-option>
          </mat-select>
      </mat-form-field>
  </div>

</div>
<div class="row" style="    margin: 20px;"  *ngIf="!externalDataList || externalDataList.length >0; else noexternalDataList">
    <div class="mat-card col-4" *ngFor="let ext of externalDataList">
      <p class="title"><strong>{{ext.externalDataTitle }}</strong></p>
      
        <!-- //   <p class="sub-title">{{ext.externalDataLink}}</p> -->
           <a [href]="ext.externalDataLink" target="_blank">לחץ כאן</a>
      <p class="createDate-msg">{{ext.externalDataDate | date:"dd/MM/yyyy"}}</p>

      <span *ngIf="ext.teacherId != userId;else thisUser">{{ext.userTeacher? ('הועלה ע"י '+ext.userTeacher.userName):''}}</span>
      <ng-template #thisUser>

          <mat-icon class="icon" (click)="openDialog(ext);">edit</mat-icon>&nbsp;
          <mat-icon class="icon" (click)="delete(ext.externalDataId);">cancel</mat-icon>
      </ng-template>

    </div>
</div>

<!-- teacherId -->
<ng-template #noexternalDataList>
    <br>

    <h2> לא נמצאו קישורים </h2>

</ng-template>
