<form style="text-align: right;width: 40%;margin:auto ;">

    <h1  style="text-align: right;">הוספת כיתה: <mdb-icon fas icon="user-alt"></mdb-icon>:</h1>
    
    <div class = "form-group row">
      <label for = "inputName" class = "col-sm-2 col-form-label">סוג כיתה :</label>
      <div class = "col-sm-10">
        <input mdbInput type = "text" class = "form-control" id = "inputName" placeholder = "שם ילד">
      </div>
    </div>
  
    <div class = "form-group row">
      <label for = "inputTzChild" class = "col-sm-2 col-form-label">שם כיתה :</label>
      <div class = "col-sm-10">
        <input mdbInput type = "text" class = "form-control" id = "inputTzChild" placeholder = "תז ילד">
      </div>
    </div>
 
    <!-- הדטה ביס והמודול לא אותם נתונים 
    ויש משתנה של סוג כיתה שהוא 
    הID של המחלקה של סוג כיתה -->
    
  
   
    <div class = "form-group row">
      <div class = "col-sm-10">
        <button type = "submit" mdbBtn color = "indigo"> הוספה <mdb-icon fas icon = "user" class = "mr-2"
          aria-hidden = "true"> </mdb-icon> </button>
      </div>
    </div>
  </form>

