<div class="form-wrapper-modal-w">
    <h1 *ngIf="data && data.user; else newUser">עדכון
        גננת </h1>
    <ng-template #newUser>
        <h1>הוספת גננת </h1>
    </ng-template>
    <form [formGroup]="setUserForm">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label> שם  </mat-label>
            <input type="text" matInput autocomplete="autocomplete" formControlName="userName" required />
            <mat-error *ngIf="setUserForm.get('userName').errors?.required">חובה להזין שם </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label> תז </mat-label>
            <input type="number" min="0" max="999999999" matInput autocomplete="autocomplete" formControlName="userTz"
                required />
            <mat-error *ngIf="setUserForm.get('userTz').errors?.required">חובה להזין תז </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label> כתובת</mat-label>
            <input matInput autocomplete="autocomplete" formControlName="address" required />
            <mat-error *ngIf="setUserForm.get('address').errors?.required">חובה להזין כתובת </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label> אימייל</mat-label>
            <input type="email" matInput autocomplete="autocomplete" formControlName="email" required />
            <mat-error *ngIf="setUserForm.get('email').errors?.required">חובה להזין אימייל </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label> פלאפון 1</mat-label>
            <input type="tel" matInput autocomplete="autocomplete" formControlName="phoneNamber1" required />
            <mat-error *ngIf="setUserForm.get('phoneNamber1').errors?.required">חובה להזין פלאפון 1 </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label> פלאפון 2</mat-label>
            <input type="tel" matInput autocomplete="autocomplete" formControlName="phoneNamber2" required />
            <mat-error *ngIf="setUserForm.get('phoneNamber2').errors?.required">חובה להזין פלאפון 2 </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label> סיסמא</mat-label>
            <input type="password" matInput autocomplete="autocomplete" formControlName="password" required />
            <mat-error *ngIf="setUserForm.get('password').errors?.required">חובה להזין סיסמא </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" >
            <mat-label>בחר כיתה </mat-label>
            <mat-select formControlName="classId" >
                <mat-option [value]="c.classId" *ngFor="let c of classes"> {{c.className}}</mat-option>
            </mat-select>
        </mat-form-field>


    </form> <br>
    <button type="submit" id="submitForm" name="submitForm" class="btn-color" (click)="setUser()"
        [disabled]=" !setUserForm.valid">
        שמור
    </button>
    <br>
</div>