

<mat-sidenav-container>
    <mat-sidenav #sidenav opened mode="side" position="end" class="side-cont-admin">
        <mat-nav-list>
  
            <a mat-list-item routerLink="/menuChild/childInfo"
            
      
            
           routerLinkActive="active_link">
                <mat-icon>tag_faces</mat-icon> &nbsp;מידע אישי
            </a>
            <a mat-list-item routerLink="/menuChild/message"
            
         
            
            routerLinkActive="active_link">
                <mat-icon>message</mat-icon> &nbsp;הודעות
            </a>
  
            <a mat-list-item routerLink="/menuChild/images" routerLinkActive="active_link">
                <mat-icon>linked_camera</mat-icon> &nbsp;תמונות
            </a>
            <a mat-list-item routerLink="/menuChild/externalData" routerLinkActive="active_link">
                <mat-icon>folder_open</mat-icon> &nbsp;דפים וקישורים
            </a>
            <a mat-list-item routerLink="/menuChild/recover-losts" routerLinkActive="active_link">
                <mat-icon>star</mat-icon> &nbsp;השבת אבידה
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div style="height: 88vh">
            <div class="content-div">
                <router-outlet></router-outlet>
            </div>
        </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  
  