.form-wrapper, .form-wrapper-100 {
    margin: 0px auto;
    height: auto;
    margin-top: 10px;
    min-height: 300px;
    margin-right: 6%;
    padding: 10px!important;
}
.form-wrapper-xl{
    width: 94%;
    min-width: 300px;
    max-width: 94%;
    height: auto;
    min-height: 120px;
    margin-right: 6%;
}
.row{
    width: 100%;
}