<h1 class="h1-form" style="max-width: 300px;"> תמונות מהווי הגן</h1>
<div  class="row" style="margin-top:30px">
    <mat-icon class="add-icon col-1" (click)="openDialog();">add_circle_outline</mat-icon>
    <div class="col-9">
        <mat-form-field appearance="fill">
            <mat-label>בחר כיתה </mat-label>
            <mat-select [(ngModel)]="classId" (selectionChange)="selectClass($event.value)">
                <mat-option [value]="c.classId" *ngFor="let c of classes"> {{c.className}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

</div>
<!-- <mat-icon class="add-icon" (click)="openDialog();">add_circle_outline</mat-icon>
<br> -->
<div class="row" style="    margin: 20px;"  *ngIf="!images || images.length >0; else noImages">
    <div class="mat-card col-4" *ngFor="let img of images">
        <p class="title"><strong>{{img.imageTitle }}</strong></p>
        <img *ngIf="img.imageURL"
         [src]="img.imageURL" width="150" height="150">
           <p class="sub-title">{{img.imageData}}</p>
      <p class="createDate-msg">{{img.imageDate | date:"dd/MM/yyyy"}}</p>

      <span *ngIf="img.teacherId != userId;else thisUser">{{img.userTeacher? ('הועלה ע"י '+img.userTeacher.userName):''}}</span>
      <ng-template #thisUser>

          <mat-icon class="icon" (click)="openDialog(img.imageId);">edit</mat-icon>&nbsp;
          <mat-icon class="icon" (click)="delete(img.imageId);">cancel</mat-icon>
      </ng-template>

    </div>
</div>

<!-- teacherId -->
<ng-template #noImages>
    <br>

    <h2> לא נמצאו תמונות </h2>

</ng-template>
