.title {
    color: white;
    background-color: #ff4081;
    display: block;
}
.sub-title {
    font-size: 14px;
    margin-top: 20px;
    font-style: italic;
}
h2{
    display: block;
    text-align: center;
    margin: auto;
}