<h1 *ngIf="teacherDays; else noData">שיבוץ שבועי</h1>
<ng-template #noData>
    <h1>לא נמצאו נתונים</h1>
</ng-template>
<table *ngIf="teacherDays" class="table table-bordered">
    <thead>
        <tr>
            <th>זמן</th>
            <th>יום ראשון</th>
            <th>יום שני</th>
            <th>יום שלישי</th>
            <th>יום רביעי</th>
            <th>יום חמישי</th>
            <th>יום שישי</th>

        </tr>
    </thead>
    <tr>

        <td><strong>בוקר</strong></td>
        <td>{{ teacherDays.dayInWeek1MStr }}</td>
        <td>{{ teacherDays.dayInWeek2MStr }}</td>
        <td>{{ teacherDays.dayInWeek3MStr }}</td>
        <td>{{ teacherDays.dayInWeek4MStr }}</td>
        <td>{{ teacherDays.dayInWeek5MStr }}</td>
        <td>{{ teacherDays.dayInWeek6MStr }}</td>
    </tr>
    <tr>
        <td><strong>צהרים</strong></td>
        <td>{{ teacherDays.dayInWeek1AStr }}</td>
        <td>{{ teacherDays.dayInWeek2AStr }}</td>
        <td>{{ teacherDays.dayInWeek3AStr }}</td>
        <td>{{ teacherDays.dayInWeek4AStr }}</td>
        <td>{{ teacherDays.dayInWeek5AStr }}</td>
        <td> </td>

    </tr>
</table>