<div class="form-wrapper-modal">
    <h1 *ngIf="data && data.recId; else newItem">עדכון השבת אבידה</h1>
    <ng-template #newItem>
        <h1>הוספת השבת אבידה</h1>
    </ng-template>
    <form [formGroup]="setRecoverLostForm" (ngSubmit)="setRecoverLost()">


        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label> פרטים</mat-label>
            <input type="text" matInput rows="4" autocomplete="autocomplete" formControlName="recoverLostsInfo" required/>
            <mat-error *ngIf="setRecoverLostForm.get('recoverLostsInfo').errors?.required">חובה להזין פרטים</mat-error>
        </mat-form-field>



        <!-- <label>פרטים</label><br />
        <input type="text" formControlName="recoverLostsInfo" id="recoverLostsInfo" name="recoverLostsInfo" required />
        <small class="error" *ngIf="setRecoverLostForm.get('recoverLostsInfo').errors?.required">חובה להזין פרטים</small
    ><br /> -->


        <img *ngIf="
        data.recId && recoverLosts && recoverLosts.recoverLostsImage
      " [src]="serviceBase + recoverLosts.recoverLostsImage" width="150" height="auto" />
        <img *ngIf="
        !data.recId || !recoverLosts || !recoverLosts.recoverLostsImage
      " [src]="url" width="150" height="auto" /><br />
        <div>
            <div class="custom-file-upload-wrapper">
                <div class="custom-file-upload-name-wrapper">
                    <label class="custom-file-upload-name" *ngIf="fileToUpload && fileToUpload.length > 0">
            {{ fileToUpload[0].name }} </label
          ><label class="custom-file-upload-name" *ngIf="!fileToUpload"
            >לא נבחרה תמונה</label
          >
        </div>
        <label class="custom-file-upload" for="file-input"
          ><mat-icon>insert_drive_file</mat-icon><input type="file" />טען תמונה
        </label>
                </div>
                <input id="file-input" #imageInput type="file" (change)="onFileChanged($event)" accept="image/*" />
            </div>
            <br>
            <button type="submit" id="submitForm" name="submitForm" class="btn-color" [disabled]="!setRecoverLostForm.valid || (!fileToUpload && (!recoverLosts || !recoverLosts.recoverLostsImage)) ">
      שמור
    </button>
    </form>
    </div>