.t-wrapper{
    max-height: 400px;
    overflow-y: auto;
}

.table td {
  
    height: 20px;
    line-height: 20px;
    font-size: 13px;
}
table{
    width: 98%;
    max-width: 98%;
    margin: 0px;
    margin-right: 1%;
}