<h1>כיתות </h1>
<div  class="row" style="margin-top:30px">
    <mat-icon class="add-icon col-1" (click)="openDialog();">add_circle_outline</mat-icon>
</div>
<table class="table table-bordered">
    <thead>
        <tr> 
            <th scope="row">שם</th>
            <th scope="row">סוג</th>        
            <th scope="row" >פעולות</th>

        </tr>
    </thead>
 
    <tr *ngFor="let item of classes">
        <td>{{item.className }}</td>      
        <td>{{item.typeClass ?item.typeClass.typeClassName: '-' }}</td>
        <td >
            <mat-icon class="icon" (click)="openDialog(item);">edit</mat-icon>&nbsp;
            <!-- <mat-icon class="icon" (click)="delete(item.kidId);">cancel</mat-icon> -->
        </td>
    </tr>
</table>