<!-- Material form login -->
<div class="row d-flex justify-content-center">
  <mdb-card class="col-6">

    <mdb-card-header class="info-color white-text text-center py-4">
      <h4>
        <strong>להתחברות</strong>
      </h4>
    </mdb-card-header>


    <!--Card content-->
    <mdb-card-body class="px-lg-5 pt-0">

      <!-- Form -->
      <form class="text-center" style="color: #757575;" [formGroup]="form">

        <!-- email -->
        <div class="md-form">
          <input type="email" id="materialLoginFormemail" required formControlName="email" class="form-control"
            mdbInput>
          <label for="materialLoginFormemail">מייל</label>
          <small *ngIf="form.get('email').errors?.required"> חובה להזין מייל.</small>
          <small *ngIf="form.get('email').errors?.pattern"> מייל לא תקין</small>

        </div>

        <!-- password -->
        <div class="md-form">
          <input type="password" id="materialLoginFormpassword" required formControlName="password" class="form-control"
            mdbInput>
          <label for="materialLoginFormpassword" >סיסמא</label>
          <small *ngIf="form.get('password').errors?.required"> חובה להזין סיסמא.</small>
          <small *ngIf="form.get('password').errors?.pattern"> אורך הסיסמא 8 תוים, חייב להכיל אות גדולה, קטנה, מספרים
            ותו מיוחד באנגלית בלבד</small>

        </div>

        <div class="d-flex justify-content-around">
          <div>
            <!-- Remember me -->
            <mdb-checkbox>לשמור אותי</mdb-checkbox>
          </div>
          <div>
            <!-- Forgot password -->
            <a href="">שכחת סיסמא?</a>
          </div>
        </div>

        <!-- Sign in button -->
        <a href="menuTeacher"><button mdbBtn color="info" outline="true" rounded="true" block="true" class="my-4 waves-effect z-depth-0"
          mdbWavesEffect type="submit" [disabled]="!form.valid" (click)="signIn();" href="menuTeacher">כניסה</button></a>

        <!-- (click)="signIn();" -->
        <!-- Register -->
        <p>לא חבר?
          <a href="">להרשמה</a>
        </p>

        <!-- Social login -->
        <p>או היכנס באמצעות:</p>
        <a type="button" mdbBtn floating="true" color="fb" size="sm">
          <mdb-icon fab icon="facebook"></mdb-icon>
        </a>
        <a type="button" mdbBtn floating="true" color="tw" size="sm">
          <mdb-icon fab icon="twitter"></mdb-icon>
        </a>
        <a type="button" mdbBtn floating="true" color="li" size="sm">
          <mdb-icon fab icon="linkedin"></mdb-icon>
        </a>
        <a type="button" mdbBtn floating="true" color="git" size="sm">
          <mdb-icon fab icon="instagram"></mdb-icon>
        </a>

      </form>
      <!-- Form -->

    </mdb-card-body>

  </mdb-card>
</div>
<!-- Material form login -->