<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark cyan" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="#">מעון הדובדבן</a></mdb-navbar-brand>
  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" *ngIf="!user">
        <a class="nav-link waves-light" mdbWavesEffect href="loginPage">כניסה<mdb-icon fas icon="sign-in-alt">
          </mdb-icon></a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect href="about"> אודות <mdb-icon fas icon="ellipsis-h"></mdb-icon>
        </a>
      </li>

      <li class="nav-item dropdown active" dropdown *ngIf="!user">
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          כניסה<span class="caret"></span><span class="sr-only">(current)</span>
          <mdb-icon fas icon="user"></mdb-icon>
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect href="#" href="registerTeacher">גננת</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#" href="childArea">הורה</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect href="calendar"> לוח שנה <mdb-icon fas icon="calendar-day">
          </mdb-icon></a>
      </li>

      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect href="news"> חדשות <mdb-icon fas icon="newspaper"></mdb-icon></a>
      </li>


      <!-- Dropdown -->
      <li class="nav-item dropdown active" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          {{'שלום ' + (user? user.userName:'אורח')}}<span class="caret"></span><span class="sr-only">(current)</span>
          <mdb-icon fas icon="user"></mdb-icon>
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
          <a *ngIf="!user"  href="loginPage"
           class="dropdown-item waves-light" mdbWavesEffect>
            כניסה
  
          </a>
          <div *ngIf="user && user.kids && user.kids.length >0">
            <a *ngFor="let k of user.kids" [routerLink]="['/childArea', k.kidId]"
            
            href="" class="dropdown-item waves-light" mdbWavesEffect>
              {{k.nameKids}}
            </a>


          </div>
          <div *ngIf="user && (!user.kids || user.kids.length == 0) && user.userTypeId === 2">
            <a  href="menuTeacher" 
            
            class="dropdown-item waves-light" mdbWavesEffect>
             מסך ניהול גננת
            </a>


          </div>
          <div *ngIf="user && (!user.kids || user.kids.length == 0) && user.userTypeId === 3">
            <a  href="menuManager" 
            
            class="dropdown-item waves-light" mdbWavesEffect>
             מסך ניהול מנהלת
            </a>


          </div>
          <a *ngIf="user" class="dropdown-item waves-light" mdbWavesEffect href="#" (click)="logout();">התנתק
            מהחשבון</a>
        </div>
      </li>

    </ul>
    <!-- Links -->
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->