<form style="text-align: right; width: 40%;margin:auto ;">
<h1>אזור אישי גננת:</h1>
<a href="teachersPlacement"  ><button mdbBtn type="button"  gradient="aqua" rounded="true" mdbWavesEffect>דף שיבוץ גננות</button></a><br/>
<a href="pageChildPlacement" ><button  mdbBtn type="button"  gradient="aqua" rounded="true" mdbWavesEffect> דף סימון נוכחות</button></a><br/>
<a href="parentsMessages" ><button mdbBtn type="button"  gradient="aqua" rounded="true" mdbWavesEffect>הודעות מההורים</button></a><br/>
<label mdbBtn type="button" (click)="openTextBox();"  gradient="aqua" rounded="true" mdbWavesEffect>כתיבת הודעה למהנהלת:  <mdb-icon far icon="edit" ></mdb-icon></label><br/>
<div style="display:none;" id="TXTMSG" >
   <input  border-width="thin" type="text"/>
   <div mdbBtn type="button" color="info" outline="true" mdbWavesEffect>שליחה</div>
</div>
<a href="childList" ><button mdbBtn type="button"  gradient="aqua" rounded="true" mdbWavesEffect>רשימת הילדים בגן</button></a><br/>

</form>

<!-- href="pageChildPlacement" -->


